@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --font-baloo: "Baloo 2", sans-serif;
}

html {
  box-sizing: border-box;
}

.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-optical-sizing: auto;
  font-family: "Jost", sans-serif;
  font-weight: 600;
  font-style: normal;
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d6d7ef;
}

input {
  padding: 5px;
}
